<% provide(:title, 'Contact') %>

<h1>Contact Puyao and/or Ned</h1>
<p>
	Hi there! We'd love to have a chat. Thanks for asking!
</p>
<p>
	You can reach Ned by <a href="mailto:Ned_Murphy@hotmail.com">email</a> or by giving him a call at 617-653-2163
</p>
<p>
	You can have a nice chat with Puyao by emailing her at <a href="mailto:li.puyao@gmail.com">email address</a> or by calling 203-823-1618
</p>
<p>
	If you're in the Boston area for even the briefest of moments, we'd love to see you. We're in Central sq. Cambridge at the following address
</p>
<p>
	<a href="http://www.bing.com/maps/?FORM=Z9LH2#JnE9Ljg1MCUyYk1hc3NhY2h1c2V0dHMlMmJBdmUlMjU0MDIlMjUyYyUyYiUyNTA5QXB0JTI1NDAyJTJiJTI1MjM1JTI1MmMlMmIlMjUwOUNhbWJyaWRnZSUyNTJjJTJiTUElMmIwMjEzOSU3ZXNzdC4wJTdlcGcuMSZiYj00Mi4zNzI5MjQxMTkzOTE3JTdlLTcxLjA5MzgyNDEzMzI3NjklN2U0Mi4zNjIwNjQzMDgzOTcxJTdlLTcxLjEyMDY0NjIyMzQyNTk=">
	850 Massachusetts Ave.
	Apt. #5
	Cambridge, MA 02139 
	</a>
</p>