<h1>Puyao and Ned are getting married!</h1>
<p>
	Welcome to our website! We're glad you came!
</p>
<p> 
	Unfortunately, Ned has been slacking off and this webite is still under construction. Ned is very sorry if you got your hopes up and were expecting some really whiz bang web pages. He is working hard on making such a thing happen. Feel free to check back here from time to time to see how he is doing on it. It should be done by the time he and Puyao actually get married...we'll just see about that.
</p>
